<% layout("/layouts/boilerplate.ejs") %>

<body>
     <!-- How It Works Section -->
 <section id="how-it-works" class="section-padding">
    <div class="container">
        <h2 class="section-title">How It Works</h2>
        <div class="row g-4 justify-content-center">
            <!-- Step 1 -->
            <div class="col-md-6 col-lg-3">
                <div class="card step-card h-100">
                    <div class="step-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>
                    </div>
                    <h5 class="card-title fw-bold">1. Find Equipment</h5>
                    <p class="card-text">Search for the machinery you need from a wide range of listings in your local community.</p>
                </div>
            </div>
            <!-- Step 2 -->
            <div class="col-md-6 col-lg-3">
                <div class="card step-card h-100">
                    <div class="step-icon">
                       <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16"><path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>
                    </div>
                    <h5 class="card-title fw-bold">2. Book Securely</h5>
                    <p class="card-text">Select your dates and book the equipment through our simple and secure payment system.</p>
                </div>
            </div>
            <!-- Step 3 -->
            <div class="col-md-6 col-lg-3">
                <div class="card step-card h-100">
                   <div class="step-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/></svg>
                    </div>
                    <h5 class="card-title fw-bold">3. Exchange & Work</h5>
                    <p class="card-text">Coordinate with the owner for pickup or delivery and get your work done efficiently.</p>
                </div>
            </div>
            <!-- Step 4 -->
            <div class="col-md-6 col-lg-3">
                <div class="card step-card h-100">
                   <div class="step-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16"><path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/><path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.5A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.5A5.002 5.002 0 0 0 3.1 9z"/></svg>
                    </div>
                    <h5 class="card-title fw-bold">4. Return & Rate</h5>
                    <p class="card-text">Return the machinery as agreed and rate your experience to help build a trusted community.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
